<!DOCTYPE html>
<html>
  <head>
    <title>Sorteio Looqbox day</title>
    <link rel="stylesheet" href="/stylesheets/libraries/fonts.css"/>
    <link rel="stylesheet" href="/stylesheets/libraries/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raffle.css"/>
    <script src="/javascripts/libraries/fontawesome.min.js"></script>
  </head>
  <body>
    <div id="raffle-app" class="container">

      <div id="raffle-holder" class="jumbotron">

        <h3 id="raffle-title">Sorteio Looqbox day</h3>

        <hr id="raffle-title-hr">

        <div id="raffle-button-container">
          <button class="btn btn-warning" id="raffle-button">Sortear!</button>
        </div>

        <div id="raffle-container">
          <div id="animation-container"></div>
          <h4 id="raffle-winner" class="ml16">A 12</h4>
        </div>

      </div>

    </div>

    <script src="/javascripts/libraries/jquery.min.js"></script>
    <script src="/javascripts/libraries/anime.min.js"></script>
    <script src="/javascripts/raffle.js"></script>
  </body>
</html>
