<!DOCTYPE html>
<html>
  <head>
    <title>Sorteio Looqbox day</title>
    <link rel="stylesheet" href="/stylesheets/libraries/fonts.css"/>
    <link rel="stylesheet" href="/stylesheets/libraries/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raffle.css"/>
    <script src="/javascripts/libraries/fontawesome.min.js"></script>
  </head>
  <body>
    <div id="raffle-app" class="container spec_helper1">

      <div class="jumbotron custom-jumbo">

        <h3 style="padding-top: 10px" class="text-center">Sorteio Looqbox day</h3>

        <hr style="border-top: 1px solid #bdbbbb; margin-top: 0">

        <div style="text-align: center; margin-top: 30px">
          <button class="btn btn-warning" id="raffle-button">Sortear!</button>
        </div>

        <div id="raffle-container">
          <div id="animation-container"></div>
          <h4 style="margin-top: 0; display: none" class="ml16">A 12</h4>
        </div>

      </div>

    </div>

    <script src="/javascripts/libraries/jquery.min.js"></script>
    <script src="/javascripts/libraries/anime.min.js"></script>
    <script src="/javascripts/raffle.js"></script>
  </body>
</html>
