/* show winner animation */

.ml16 {
    color: #402d2d;
    padding: 40px 0;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    overflow: hidden;
}

.ml16 .letter {
    display: inline-block;
    line-height: 1em;
}

/* raffle app */

#raffle-holder {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0;
}

#raffle-title {
    padding-top: 10px;
    text-align: center;
}

#raffle-title-hr {
    border-top: 1px solid #bdbbbb;
    margin-top: 0;
}

#raffle-button-container {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#raffle-container {
    text-align: center;
}

#animation-container {
    width: 100%;
}

#raffle-winner {
    margin-top: 0;
    display: none;
}

/* animation classes (raffle.js) */

.header {
    text-align: left;
    margin-left: 10px;
}

.row {
    color: #44c993;
    text-align: left;
    margin-left: 10px;
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.row-number {
    text-align: center;
    display: inline-block;
    color: grey;
    width: calc(100% / 38);
    border: 1px solid transparent;
}

.row-letter {
    position: relative;
    bottom: 6px;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: grey;
    width: calc(100% / 38);
}

.seat {
  text-align: center;
  width: calc(100% / 38);
  display: inline-block;
}

.empty-seat {
  text-align: center;
  width: calc(100% / 38);
  display: inline-block;
  border: 1px solid transparent;
}

.selected {
    background-color: #f0ad4e !important;
}

.hide {
    display: none !important;
}

.material-icons {
    font-size: 24px;
    border: 2px solid transparent;
}

/* Media queries */

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

    .material-icons {
        font-size: 24px;
    }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

    .material-icons {
        font-size: 15px;
    }
    #raffle-container {
        margin: 10px 0 0 0;
    }
    .row-letter, .row-number {
        font-size: 13px;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

    .material-icons {
        font-size: 12px;
    }
    #raffle-container {
        margin: 10px 0 0 0;
    }
    .row-letter, .row-number {
        font-size: 10px;
    }

}